body {
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    position:fixed;
    border: 4px rgb(206, 9, 9) solid;

}

section {
    width: 85vw;
    height: 85vw;
    border: 8px white solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.line {
    width: 76vw;
    height: 12vw;
    display: flex;
    justify-content: space-between;
    border: 4px rgb(206, 9, 9) solid;

}


.box {
    width: 12vw;
    height: 12vw;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
}

.start{
    width: 60vw;
    height: 60px;
    border:2px white solid;
    margin-top: 15px;
    border-radius: 50px;
    background-color: green;
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
}

.start:active {
    transform: scale(0.8);
}
#inputBox{
    /* position: absolute;
    bottom: 9999px; */
}